<h2 mat-dialog-title>{{'Add Crew Member' | translate }}</h2>
<mat-divider></mat-divider>

<mat-dialog-content>
  <form [formGroup]="addCrewForm" (ngSubmit)="onSave()">
    <mat-tab-group>
      <!-- Crew Member Information Tab -->
      <mat-tab label="{{'crew.crewMemberInformation' | translate }}">
        <mat-form-field appearance="fill">
          <mat-label>{{'crew.firstName' | translate }}</mat-label>
          <input matInput placeholder="{{'crew.firstName' | translate }}" formControlName="firstName">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{'crew.lastName' | translate }}</mat-label>
          <input matInput placeholder="{{'crew.lastName' | translate }}" formControlName="lastName">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{'crew.title' | translate }}</mat-label>
          <mat-select formControlName="title">
            <mat-option *ngFor="let title of titles" [value]="title">{{ 'titles.' + title | translate }}</mat-option>
          </mat-select>
        </mat-form-field>

        <app-nationality></app-nationality>

        <!-- <mat-form-field appearance="fill">
          <mat-label>{{'crew.nationality' | translate }}</mat-label>
          <mat-select formControlName="nationality">
            <mat-option *ngFor="let nationality of nationalities" [value]="nationality">
              {{'nationalities.' + nationality | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field> -->

        <mat-form-field appearance="fill">
          <mat-label>{{'crew.currency' | translate }}</mat-label>
          <mat-select formControlName="currency">
            <mat-option value="USD">USD</mat-option>
            <mat-option value="EUR">EUR</mat-option>
            <mat-option value="GBP">GBP</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{'crew.dailyRate' | translate }}</mat-label>
          <input matInput placeholder="{{'crew.dailyRate' | translate }}" formControlName="dailyRate" type="number">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{'crew.daysOnBoard' | translate }}</mat-label>
          <input matInput placeholder="{{'crew.daysOnBoard' | translate }}" formControlName="daysOnBoard" type="number">
        </mat-form-field>
      </mat-tab>

      <!-- Certificates Tab -->
      <mat-tab label="{{'crew.certificates' | translate }}">
        <div formArrayName="certificates">
          <div *ngFor="let cert of certificates.controls; let i = index" [formGroupName]="i">
            <mat-form-field appearance="fill">
              <mat-label>{{'certificates.name' | translate }}</mat-label>
              <mat-select formControlName="type">
                <mat-option *ngFor="let type of certificateTypes" [value]="type.name">{{ type.name }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>{{'crew.issueDate' | translate }}</mat-label>
              <input matInput formControlName="issueDate" type="date">
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>{{'crew.expiryDate' | translate }}</mat-label>
              <input matInput formControlName="expiryDate" type="date">
            </mat-form-field>
          </div>
        </div>
        <button mat-raised-button color="primary" (click)="addCertificate()">{{'actions.addCertificate' | translate
          }}</button>
      </mat-tab>
    </mat-tab-group>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{'actions.cancel' | translate }}</button>
  <button mat-raised-button color="primary" [disabled]="addCrewForm.invalid" (click)="onSave()">{{'actions.save' |
    translate
    }}</button>
</mat-dialog-actions>