form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  mat-form-field {
    width: 100%;
  }
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

mat-tab-group mat-tab-body-wrapper {
  padding: 16px;
}

mat-card {
  margin-bottom: 16px;
}

.mat-mdc-raised-button {
  margin: 0 8px;
}

.mat-mdc-button-touch-target {
  display: flex;
  justify-content: center;
  align-items: center;
}
